/data_cards/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Changes/1.jpg
/.idea/shelf/Changes/shelved.patch
/.idea/shelf/Changes1/1.jpg
/.idea/shelf/Changes1/shelved.patch
/.idea/shelf/Changes.xml
/.idea/shelf/Changes1.xml
/.idea/misc.xml
/.idea/ML_research_torch.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
